---
name: validation

on:
  push:
  workflow_dispatch:

jobs:
  tox:
    name: Run unit tests and linters
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version }}
      - name: Setup Python
        run: |
          pip install tox tox-pdm pdm
          pdm venv create ${{ matrix.version }}

      - name: Tox
        run: |
          source .venv/bin/activate
          tox
